{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

    <h1 class="my-4">{% trans "Login" %}</h1>
    <!-- Вход -->

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% trans 'Log in' as login_text %}
        {% bootstrap_button login_text button_type="submit" button_class="btn btn-outline-primary" %}
        <!-- <input class="btn btn-outline-primary" type="submit" value="{% trans 'Login' %}"> -->
        <!-- "Выход" -->

    </form>


{% endblock %}