{% extends "layout.html" %}
{% load i18n %}


{% block content %}

    <h1 class="my-4">{% trans "Deleting a label" %}</h1>
    <!-- Удаление пользователя -->
    <p>{% trans "Are you sure you want to delete" %}: "{{ label.name }}"?</p>
    <!-- Вы уверены, что хотите удалить -->
    <form action="{% url 'label_delete' label.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-outline-danger" type="submit" value="{% trans 'Yes, delete' %}">
        <!-- Да, удалить -->
    </form>

{% endblock %}