<!DOCTYPE html>
<html lang="ru-ru">
  <head>
    
    <title>Менеджер задач Hexlet</title>
    
  <body>
    <nav>
      <div>
        <table>
          <tr>
            <td><a href="/">Менеджер задач</a></td>
            <td><a href="/users/">Пользователи</a></td>
           <td><a href="/login/">Вход</a></td>
           <td><a href="/users/create/">Регистрация</a></td>
          </tr>
      </table>
      </div>
    </nav>
    <div>
      <div>
        <div>
          <div>Привет от Хекслета!</div>
          <p>Практические курсы по программированию</p>
          
          <button type="submit" href="https://ru.hexlet.io">Узнать больше</button>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <div>
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
      </div>
    </footer>
  </body>
</html>
